@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
}

div.container {
  width: 65vw;
  margin: 0 auto;
}

header {
  width: 100%;
}

header h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

div.results {
  width:100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}

div.feedback-list {
  max-width: 65vw;
  height: 100%;
  margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

div.item {
  width: 100%;
background-color: #fff;
margin-bottom: 2rem 0;
border-radius: 1rem;
padding: 4rem;
width: 100%;
margin: 2rem 0;
position: relative;
}

div.item span {
  position: absolute;
  left: 0; top: 0;
  transform: translate(-50%, -50%);
  width: 3.5rem; height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: center;
  background-color:  #ff6a95;
  display: block;
}

div.icons {
  display: flex;
  width: 8rem;
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.icon-close, .icon-edit {
  font-size: 2rem;
  color: purple;
  cursor: pointer;
  display: inline-block;
}

.icon-edit {
  margin-right: 3rem;
}

div.item p.text {
  text-align: justify;
  font-size: 1.8rem;
}

div.item p.date {
  font-size: 1.4rem;
  padding-top: 1rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

form.form-container {
  background-color: #fff;
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

form.form-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

div.rating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

input[type="radio"] {
  opacity: 0;
}

label {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}

.select {
  color: #fff;
background-color:  #ff6a95;
}


/*input[type="radio"]:checked ~ label {
  color: #fff;
background-color:  #ff6a95;
} */

div.input-button {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid grey;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
border: 0.2rem solid  #ff6a95;
}

.btn {
  margin-left: 1rem;
  width: 10rem;
  cursor: pointer;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  text-align:center;
}

.btn:disabled {
  background-color: lightgray;
  color: #fff;
}

.primary {
  background-color: #333;
  color: #fff;
}

.secondary {
  background-color: #ff6a95;
  color: #fff;
}

div.message {
  text-align: center;
  color: grey;
  font-size: 1.2rem;
}

.motion {
  width: 65vw;
}

/*about -aboutlink*/

div.about-link {
  width: 65rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link, .icon {
  display:inline-block;
}

.link {
  color: #fff;
  text-decoration: none;
}

.icon {
  color: #fff;
}

div.about {
  width: 65rem;
  margin: 0 auto;
  background: #fff;
  color: #333;
  height: 20rem;
  border-radius: 1rem;
  padding: 3rem;
}

div.about h1 {
  text-align: center;
  margin-bottom: 2rem;
}

div.about p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: justify;
}

.about-link {
  font-size: 1.5rem;
  padding-top: 2rem;
  color: blue;
}





